/* Base structure */


/*body { font-family: Helvetica, Arial, sans-serif; line-height: 1.3em; -webkit-font-smoothing: antialiased; }
.container {
    /*width: 90%;*/
    background-color: #FFF;
    /*padding: 20px;*/
}

.container2{
	margin:auto;
	position:relative;
	width: 600px; /* or whatever width */	
}
pre, code {
font-family: Monaco, Menlo, Consolas, "Courier New", monospace;
font-size: 12px;
color: #333;
-webkit-border-radius: 3px;
-moz-border-radius: 3px;
border-radius: 3px;
}
/*pre { border: 1px solid #CCC; background-color: #EEE; color: #333; padding: 10px; overflow: scroll; }*/
/*code { padding: 2px 4px; background-color: #F7F7F9; border: 1px solid #E1E1E8; color: #D14; }*/
.other {width:100%;height:100%;position:fixed;color: #FFF; }
/*.other div {
position: absolute;
width: 100%;
background: #000;
background: rgba(0,0,0,0.7);
}
.other div p { padding: 10px; }*/*/


.carousel-item {
  height: 100vh;
  min-height: 350px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}