._32o5{background-color:#54c7ec;height:44px;position:relative;width:44px}._32od{left:10px;position:absolute;top:10px}
._nvf{align-items:center;margin:8px 7px 4px 7px}._3wku{height:28px;min-width:44px}._3wkw{color:#4b4f56;font-size:13px;max-width:170px}
._3s6v,._3s6w{height:101px;width:101px}._3s6w{position:relative}._3s6x{background:linear-gradient(transparent, rgba(0, 0, 0, .7));bottom:0;color:#fff;left:0;padding:5px;position:absolute;right:0}._605a ._3s6v._3s6v{border-radius:0}
._34mw{font-size:11px}._34mw:after{background-color:#3578e5;border-radius:6px;content:'';display:inline-block;height:6px;margin-left:4px;width:6px}
.sp_DYkCWf2cHIy{background-image:url(/rsrc.php/v3/yo/r/kSusbtkUKB4.png);background-size:auto;background-repeat:no-repeat;display:inline-block;height:24px;width:16px}.sp_DYkCWf2cHIy.sx_a32d22{width:20px;height:20px;background-position:-75px -167px}.sp_DYkCWf2cHIy.sx_b4816c{height:16px;background-position:-96px -167px}.sp_DYkCWf2cHIy.sx_e0424c{height:16px;background-position:-113px -167px}.sp_DYkCWf2cHIy.sx_bc5cb8{width:24px;background-position:0 -167px}.sp_DYkCWf2cHIy.sx_8d8666{width:24px;background-position:-25px -167px}.sp_DYkCWf2cHIy.sx_8c008a{width:24px;background-position:-50px -167px}.sp_DYkCWf2cHIy.sx_51eba6{height:14px;background-position:-130px -167px}.sp_DYkCWf2cHIy.sx_13a986{height:14px;background-position:-147px -167px}.sp_DYkCWf2cHIy.sx_137bf4{width:164px;height:166px;background-position:0 0}

#bootloader_g2nlS{height:42px;}.bootloader_g2nlS{display:block!important;}