._56hv,._56hy{display:none}
._3xd6 ._4qeb{border-radius:none}._3xd6 ._3xdb{padding-top:9px}._3xd6 ._3xd8{margin-right:8px;position:relative}._3xd6 ._3xd8 .img{opacity:.4}._3xd6 ._2z2m{background-color:#f03d25;border-radius:6px;height:12px;position:absolute;right:5px;top:10px;width:12px}._16bi{padding:13px 0}._16bh{color:rgba(153, 153, 153, 1);font-size:13px;line-height:1.4;text-align:center}
._32hm{padding-bottom:0}._3q7s{display:block;margin:12px auto;text-align:center}
._fyy{background-color:#f5f6f7;border-bottom:1px solid #dddfe2;color:#90949c;font-family:Helvetica, Arial, sans-serif;font-size:11px;font-weight:500;padding:5px 12px}
._5bov{cursor:pointer;padding:8px}._5bow{height:28px;width:28px}
._3nnr{position:relative}._3nnv{bottom:-36px;position:absolute;right:0;z-index:1}
._vaz{margin-bottom:10px}._vaz>._va-{height:auto}
._56vy{display:none;height:54px}._2xo._56v-{display:none}._5mt2 ._56vw ._56vx{width:205px}._4woj{height:171px}._5pxg{background-image:linear-gradient(to top, #f0f4f9, #f4f6f9);display:block;height:23px;line-height:12px}
.sp_Vn2s5yNzLS0{background-image:url(/rsrc.php/v3/yl/r/4MFEHPkVAe9.png);background-size:auto;background-repeat:no-repeat;display:inline-block;height:20px;width:20px}.sp_Vn2s5yNzLS0.sx_282ee0{background-position:0 0}.sp_Vn2s5yNzLS0.sx_28f884{background-position:0 -21px}.sp_Vn2s5yNzLS0.sx_aef914{background-position:0 -42px}.sp_Vn2s5yNzLS0.sx_926cd7{background-position:0 -63px}

#bootloader_ZW3fn{height:42px;}.bootloader_ZW3fn{display:block!important;}