._1aqb{width:496px}
.sp_glDQcwegnfT{background-image:url(/rsrc.php/v3/yP/r/gyWKheK-LGv.png);background-size:auto;background-repeat:no-repeat;display:inline-block;height:16px;width:16px}.sp_glDQcwegnfT.sx_ba64f9{background-position:0 0}.sp_glDQcwegnfT.sx_07fa71{background-position:0 -17px}

#bootloader_wHAzQ{height:42px;}.bootloader_wHAzQ{display:block!important;}