._28_q ._28_r{color:#42b72a}._28_q ._72iy{text-overflow:ellipsis}
._ao- ._aoz{background-color:#f5f6f7;border-bottom-style:solid;border-color:#dddfe2;border-left-style:none;border-right-style:none;border-top-style:solid;border-width:1px;color:#4b4f56}._aoy+._5yhh{border-top-style:none;margin-top:-8px}._284v{margin-bottom:8px}._69cr{background-color:#f5f6f7;border-radius:4px;color:#444950;margin-left:12px;margin-right:12px;margin-top:12px;padding:12px}._69cs{display:block;font-weight:600;padding-bottom:2px}._69ct{display:block;padding-bottom:2px}._69cu{-webkit-appearance:#1d2129;font-size:small}

#bootloader_JJH_x{height:42px;}.bootloader_JJH_x{display:block!important;}