.sp_8DicJHPPbaH{background-image:url(/rsrc.php/v3/y2/r/efzwUPxwRZz.png);background-size:auto;background-repeat:no-repeat;display:inline-block;height:16px;width:16px}.sp_8DicJHPPbaH.sx_b03731{background-position:0 0}.sp_8DicJHPPbaH.sx_060f81{background-position:0 -17px}
.sp_PtuH36BvZN4{background-image:url(/rsrc.php/v3/yN/r/UyBOjsSKqrK.png);background-size:auto;background-repeat:no-repeat;display:inline-block;height:16px;width:16px}.sp_PtuH36BvZN4.sx_e7bc1e{height:14px;background-position:0 -17px}.sp_PtuH36BvZN4.sx_5902ac{background-position:0 0}.sp_PtuH36BvZN4.sx_003f67{width:10px;height:10px;background-position:0 -44px}.sp_PtuH36BvZN4.sx_521268{width:10px;height:11px;background-position:0 -32px}
.sp_Qwiznu6-nO0{background-image:url(/rsrc.php/v3/yh/r/qehnd7km7qc.png);background-size:auto;background-repeat:no-repeat;display:inline-block;height:20px;width:20px}.sp_Qwiznu6-nO0.sx_74c374{background-position:0 0}.sp_Qwiznu6-nO0.sx_7934d4{background-position:0 -21px}.sp_Qwiznu6-nO0.sx_5fcf5c{background-position:0 -42px}.sp_Qwiznu6-nO0.sx_9cf9e8{background-position:0 -63px}

#bootloader_1_Hl9{height:42px;}.bootloader_1_Hl9{display:block!important;}