._5o8l{display:block}
._4liw{background:#f2f2f2;overflow:hidden;padding:70px 40px;position:relative}._1szc,._4lix{margin:0 auto}._1szd{margin:8px auto 12px}._4lix{max-width:200px;position:relative}._aym{background:#000;background:rgba(0, 0, 0, .5);border-bottom:solid 1px rgba(0,0,0,.5);border-top:solid 1px rgba(0,0,0,.5);color:#fff;left:0;padding:11px 12px 11px 32px;position:absolute;right:0;text-align:left;text-shadow:0 1px 0 rgba(0,0,0,.25);top:0}._a63{left:11px;position:absolute;top:12px}
._4on5{position:relative}._290-{height:100%;pointer-events:none;position:absolute;top:0;width:100%}._4on8{opacity:.3}._4on5 ._3mk2{cursor:default}a ._4on5 ._3mk2{cursor:auto}._4on7{cursor:move;position:absolute}._3dfy{left:0;position:absolute;right:0;text-align:center;top:20px;z-index:1}._6aza{left:0;position:absolute;right:0;text-align:center;top:40%;z-index:1}._3dfz{display:none}._3df-{background:rgba(0, 0, 0, .5);border:1px solid #fff;border-color:rgba(255, 255, 255, .8);border-radius:3px;box-shadow:0 0 2px rgba(255, 255, 255, .5);color:#fff;display:inline-block;font-weight:700;padding:6px 12px}._3df_{margin-bottom:-1px}
._1k3v{box-shadow:0 0 2px rgba(255, 255, 255, .5);overflow:hidden;position:relative}._1k3w{position:absolute}._1_fc{height:100%;pointer-events:none;position:absolute;width:100%}._3np9{border-radius:50%;-webkit-mask-image:-webkit-radial-gradient(white, black)}
._2orx{overflow:hidden;position:relative}._2oru{position:absolute;transition:opacity .75s}._2orw{background-color:#dadde1;height:100%}._6ld6{background-color:#ebedf0;height:100%;padding-top:99px;text-align:center}._2orv{opacity:.3}._1tg{background:linear-gradient(rgba(0, 0, 0, 0) 25%, rgba(0, 0, 0, .5) 100%);bottom:0;min-height:40px;pointer-events:none;position:absolute;width:100%;z-index:1}._1th{display:inline-block;float:right;padding:8px;pointer-events:auto}
html ._4b0l{clear:left;margin-left:0}
._72mz:hover ._72m-{background-image:url(/rsrc.php/v3/yP/r/9f6vRJshqy4.png);background-repeat:no-repeat;background-size:auto;background-position:-38px -1065px}._72n1:hover ._72n2{background-image:url(/rsrc.php/v3/yp/r/j_OvIiH8r0j.png);background-repeat:no-repeat;background-size:auto;background-position:-17px -556px}._72n3:hover ._72n4{background-image:url(/rsrc.php/v3/yp/r/j_OvIiH8r0j.png);background-repeat:no-repeat;background-size:auto;background-position:-34px -403px}
._5mb0{position:absolute;text-align:center;top:50%;transform:translateY(-50%);width:100%}
._18d3{background-image:url(/rsrc.php/v3/yP/r/9f6vRJshqy4.png);background-repeat:no-repeat;background-size:auto;background-position:-58px -547px;float:right;height:9px;position:relative;right:10px;top:-21px;width:5px}._18d1._18d2{background-color:#365899;border-color:#20375f}
.highContrast ._3tdo:before{content:url(/rsrc.php/v3/yP/r/9f6vRJshqy4.png);margin:-1766px 0 0 0;position:absolute}.highContrast ._3tdo{overflow:hidden;position:relative}._3tdo{background-image:url(/rsrc.php/v3/yP/r/9f6vRJshqy4.png);background-repeat:no-repeat;background-size:auto;background-position:0 -1766px}.highContrast ._3tdo._6xe:before{content:url(/rsrc.php/v3/yP/r/9f6vRJshqy4.png);margin:-1783px 0 0 0;position:absolute}.highContrast ._3tdo._6xe{overflow:hidden;position:relative}._3tdo._6xe{background-image:url(/rsrc.php/v3/yP/r/9f6vRJshqy4.png);background-repeat:no-repeat;background-size:auto;background-position:0 -1783px}
._6r3f{background-image:url(/rsrc.php/v3/yP/r/9f6vRJshqy4.png);background-repeat:no-repeat;background-size:auto;background-position:-17px -1239px}._6r3f._6xe{background-image:url(/rsrc.php/v3/yP/r/9f6vRJshqy4.png);background-repeat:no-repeat;background-size:auto;background-position:-34px -1528px}
._1wqz ._58ah label._58ak{height:29px;padding-top:8px}._1wqz ._wrm{right:12px;top:11px}
.highContrast ._3gqo:before{content:url(/rsrc.php/v3/yP/r/9f6vRJshqy4.png);margin:-1766px 0 0 -34px;position:absolute}.highContrast ._3gqo{overflow:hidden;position:relative}._3gqo{background-image:url(/rsrc.php/v3/yP/r/9f6vRJshqy4.png);background-repeat:no-repeat;background-size:auto;background-position:-34px -1766px}.highContrast ._3gqo._6xe:before{content:url(/rsrc.php/v3/yP/r/9f6vRJshqy4.png);margin:-1783px 0 0 -34px;position:absolute}.highContrast ._3gqo._6xe{overflow:hidden;position:relative}._3gqo._6xe{background-image:url(/rsrc.php/v3/yP/r/9f6vRJshqy4.png);background-repeat:no-repeat;background-size:auto;background-position:-34px -1783px}
._3s33{color:#90949c;line-height:40px;padding-right:10px}._3s33._3s34{color:#365899;padding-right:20px}._3s32{bottom:1px;left:12px;margin-right:12px;position:relative}
._4zdz ._58ah label._58ak{height:30px;padding-top:8px}._4zdz ._wrm{right:12px;top:11px}._4zdy{cursor:pointer}._mbq img{height:24px;margin-top:4px;width:24px}
._2fzs._2fzs{padding-top:9px}._2fzs ._58ak{padding-bottom:2px;width:auto}._2fzs ._58ah label._58ak,._2fzs ._2ei6{margin-bottom:0;margin-top:2px}
.highContrast ._51y3:before{content:url(/rsrc.php/v3/yP/r/9f6vRJshqy4.png);margin:-1766px 0 0 -17px;position:absolute}.highContrast ._51y3{overflow:hidden;position:relative}._51y3{background-image:url(/rsrc.php/v3/yP/r/9f6vRJshqy4.png);background-repeat:no-repeat;background-size:auto;background-position:-17px -1766px}.highContrast ._51y3._6xe:before{content:url(/rsrc.php/v3/yP/r/9f6vRJshqy4.png);margin:-1783px 0 0 -17px;position:absolute}.highContrast ._51y3._6xe{overflow:hidden;position:relative}._51y3._6xe{background-image:url(/rsrc.php/v3/yP/r/9f6vRJshqy4.png);background-repeat:no-repeat;background-size:auto;background-position:-17px -1783px}
._77i6{border:1px solid #e5e5e5;border-radius:3px 3px 0 0;color:#1d2129;font-size:12px;height:auto;position:relative}._77i8{align-items:center;display:flex;margin:12px}._77i7{position:absolute;right:10px;top:4px}._77i9{display:flex;flex-direction:column;flex-grow:1;overflow:hidden;width:420px}.highContrast ._77hj:before{content:url(/rsrc.php/v3/yP/r/9f6vRJshqy4.png);margin:-1120px 0 0 -17px;position:absolute}.highContrast ._77hj{overflow:hidden;position:relative}._77hj{background-image:url(/rsrc.php/v3/yP/r/9f6vRJshqy4.png);background-repeat:no-repeat;background-size:auto;background-position:-17px -1120px}.highContrast ._77hj._6xe:before{content:url(/rsrc.php/v3/yP/r/9f6vRJshqy4.png);margin:-1120px 0 0 0;position:absolute}.highContrast ._77hj._6xe{overflow:hidden;position:relative}._77hj._6xe{background-image:url(/rsrc.php/v3/yP/r/9f6vRJshqy4.png);background-repeat:no-repeat;background-size:auto;background-position:0 -1120px}
._1cx1 ._1idc{margin:0 12px}table._5esl,._5esl{border-top:1px dotted #dddfe2}._5esl ._5esx{border-width:0;box-sizing:border-box;width:100%}._5esx ._58ak{background:#fff;border:none;min-width:100%}._5esx ._2ei6{font-size:12px}._5esx ._58ah ._58ai{font-family:Helvetica, Arial, sans-serif}._5esl td._5esm:first-child{background:#e2e8f6;border-right:1px dotted #dddfe2;font-family:Helvetica, Arial, sans-serif;font-size:12px;line-height:16px;margin-right:6px;min-width:29px;padding:8px 6px 6px 8px;position:relative;text-align:center;white-space:nowrap;z-index:1}._5esl td._40eg{background:#e2e8f6;border-right:1px dotted #dddfe2;font-family:Helvetica, Arial, sans-serif;font-size:12px;line-height:16px;margin-right:6px;min-width:29px;position:relative;text-align:center;white-space:nowrap;z-index:1}._5esl td._5esw{background:#fff;width:100%}._36y5{height:24px;left:12px;position:relative;vertical-align:top}._47gt{height:40px}._3xem{float:left}._4v7o{opacity:.5}._3xen{float:left;height:40px;position:relative;width:40px}._3xem._3xem:hover{text-decoration:none}._3xem._4v7o:hover{background:#fff}._3xem:hover{background-color:#f2f2f2}._50hx,._50hx:hover{background-color:#fff;border-left:1px solid #e5e5e5;border-right:1px solid #e5e5e5}._53vr.uiScrollableArea{border-radius:2px;box-shadow:0 0 0 1px rgba(0, 0, 0, .1), 0 1px 10px rgba(0, 0, 0, .35);max-width:640px}._3ooq{background-color:#f5f6f7;border-color:#dddfe2;border-width:1px 0}
._2vwi{float:left;height:16px;margin:12px;position:relative;width:16px}
._4zq4{font-size:13px;padding:4px 12px}._4zq4:empty{padding:0}._4zq4 .metadataFragment .placeToken,._4zq4 .metadataFragment .withToken,._4zq4 .metadataFragment .askFriends,._4zq4 .metadataFragment .og_composer_object,._4zq4 .metadataFragment .productItemToken,._4zq4 .metadataFragment .sponsorTagToken,._4zq4 .metadataFragment .issuesTagToken,._4zq4 .metadataFragment .editLocalAlertToken{color:#365899;cursor:pointer;position:relative}._3e9r ._nh6 ._4zq4{display:none}._3e9r._1b3n ._nh6 ._4zq4{display:block}._2rlv ._2qvi{border-width:0;width:100%}._2qvi._2qvj{font-size:12px;padding-bottom:2px;padding-top:0;width:auto}._2qvi._2qvj ._2ei6{margin-top:6px}._2qvi ._58ak{background:#fff;border:none}._2qvi ._58ah ._58ai{font-family:Helvetica, Arial, sans-serif}._5fj8{height:40px}._2pjs{background-position:center center;background-repeat:none;border:1px solid #e9ebee;border-width:0 1px;display:inline-block;height:40px;width:40px}._2pjs:hover{background-color:#dadde1;border-color:#dadde1}._jkw,._jkw:hover{background-color:#fff;border-color:#ccc}._jku{background-image:url(/rsrc.php/v3/yP/r/9f6vRJshqy4.png);background-repeat:no-repeat;background-size:auto;background-position:0 -386px}._jku._jkv,._jku._jkw,._jku:hover{background-image:url(/rsrc.php/v3/yP/r/9f6vRJshqy4.png);background-repeat:no-repeat;background-size:auto;background-position:0 -426px}._jky{background-image:url(/rsrc.php/v3/yP/r/9f6vRJshqy4.png);background-repeat:no-repeat;background-size:auto;background-position:0 -226px}._jky._jkv,._jky._jkw,._jky:hover{background-image:url(/rsrc.php/v3/yP/r/9f6vRJshqy4.png);background-repeat:no-repeat;background-size:auto;background-position:0 -266px}._34fh{background-image:url(/rsrc.php/v3/yP/r/9f6vRJshqy4.png);background-repeat:no-repeat;background-size:auto;background-position:0 -306px}._34fh._jkv,._34fh._jkw,._34fh:hover{background-image:url(/rsrc.php/v3/yP/r/9f6vRJshqy4.png);background-repeat:no-repeat;background-size:auto;background-position:0 -346px}._jkx{position:absolute;visibility:hidden}._20qp,._2qvk{border-top:1px dotted #ccc}._2qvk ._58al,._20qp ._58al{display:inline-block;width:100%}._5d39 ._2qvk ._213j._4ehf label._58ak,._20qo ._20qp ._213j._4ehf label._58ak{padding:8px 8px 10px}._1dla ._1dlb label._58ak{width:100%}._2rlv,._o2h._2rlv,._5d39._2rlv,._20qo._2rlv{border-top:1px dotted #ccc;width:100%}._o2h._2rlv ._27tc:first-child,._5d39._2rlv ._27tc:first-child,._20qo._2rlv ._27tc:first-child{background:#ecf0f7;border-right:1px dotted #ccc;cursor:pointer;font-family:Helvetica, Arial, sans-serif;font-size:12px;padding:6px 6px 6px 8px;white-space:nowrap}._2mzr{width:100%}._20qp ._2qvi{border-top-width:0}._4jp9{max-height:192px;overflow-y:scroll}._4jp9 ._zk5 .actionTypeIcon{background-position-x:0}._4jp9 ._zk5 ._2kd2{color:#fff}._538y.uiScrollableArea{border-radius:2px;bottom:0;box-shadow:0 0 0 1px rgba(0, 0, 0, .1), 0 1px 10px rgba(0, 0, 0, .35);right:1px}._538y.uiScrollableArea .uiScrollableAreaWrap{padding-right:15px}
div._5umn{font-size:11px;-webkit-font-smoothing:antialiased;margin:14px 0 6px 1px}.groupLitestandClassicJumpLayout #pagelet_group_>._5umn:first-child{margin-top:0}._5nb8 ._5umn{margin-bottom:-4px}
.__qa{box-sizing:border-box;text-align:center}._2m-z{padding:0 24px}._65ab{border-radius:2px;height:8px;position:relative;width:100%}.__q6{background:#e9eaeb}._65ac{background:transparent}.__q7{background:#066cd2;border-radius:2px;height:8px;left:0;position:absolute;transition:width .5s cubic-bezier(.5, 0, .15, 1), background 0s linear .16s}.__q2{color:#5b5c5e;font-size:11px;font-weight:bold;margin-top:16px;transition:color 0s linear .16s;width:100%}.__q1{margin-right:8px;vertical-align:bottom}@keyframes bufferBackground{from{background-position:0 0}to{background-position:24px 0}}@keyframes bufferBackgroundReverse{from{background-position:0 0}to{background-position:-24px 0}}.__q3{animation:bufferBackground 2s linear infinite;background:url(/rsrc.php/v3/yq/r/W40dnJboeYg.png) repeat-x 0 0;border-radius:2px;height:8px;width:100%}.__qb .__q7{width:100%}._6age .__q7{background:#099a32}._6age .__q2{color:#099a32}.__qc .__q7{background:#ce002f;width:100%}.__qc .__q2{color:#ce002f}._2tr- .__q6,._2tr- ._65ab,._2tr- .__q7,._2tr- .__q3{height:4px}._2tr_ .__q7{background:#c6c9cc}body[dir='rtl'] .__q7{right:0}body[dir='rtl'] .__q3{animation:bufferBackgroundReverse 2s linear infinite}
._5e4h._5e2j{height:22px;overflow:hidden}._5e4h._5e2k,._5e4h ._5e2k{background:#fff;border:1px solid;border-color:#a4a4a4 #bbb #d5d5d5;position:relative}._5e4h ._5e2k{height:20px}._5e4h ._5e4k,._5e4h ._5e2g{height:20px}._5e4h ._5e4k{background:#6d84b4;border:solid #3b5998;border-radius:0;border-width:1px 0 1px 1px;color:#fff;margin:-1px;overflow:hidden;position:relative}._5e4h._5e2j ._5e4k,._5e4h._5e2j ._5e2g{left:0;line-height:20px;position:absolute;text-align:right}._5e4h ._5e4k{top:0}._5e4h ._5e2g{color:#333;top:-20px}._5e2l ._5e4k{height:8px}._5e4h._5e2m ._5e4k,._5e4h._5e2m{border-radius:15px}._5e4h ._5e4j{border-right:solid 1px #3b5998}._5e4h ._5e2d{border-width:1px 0}._5e4h ._5e2h{display:inline-block;line-height:20px;padding-left:5px;white-space:nowrap}._5e4h._5e2j ._5e2h{padding-right:5px}._5e4h ._5e2n{position:absolute}._5e4h._5e2j ._5e2n{position:relative}
._4mnv{border-width:2px;display:flex;flex-direction:column;justify-content:center;position:relative}._4mns{display:inline-block}._4mnw{display:flex}._ric,._4mnq{background-color:#ebedf0;border:2px solid #fff;border-radius:50%;overflow:hidden}._4wh8 ._4mnq{position:relative;z-index:1}._34n6{align-items:center;background-color:#ebedf0;color:#8d949e;display:flex;justify-content:center}._40vg{padding:0 5px;position:relative;z-index:2}._ric{position:relative}._ric ._4mnq{background:transparent;border:none;position:absolute;top:0}._ric ._4mnq._34n6{position:relative}._ric ._34n6 ._40vg{color:#fff}._ric ._34n6::after{background-color:#000;bottom:0;content:'';display:block;left:0;opacity:.4;position:absolute;right:0;top:0}
._hoc{box-sizing:border-box;padding:12px;z-index:200}._hoc._hoc._hoc,._hoc._hoc._hoc::before{border-top:0;border-top-left-radius:0;border-top-right-radius:0}._cvm{float:right}._cvm a,._cvm button{box-sizing:border-box;width:284px}._wg4{margin-right:12px}
._59_m{background-color:#fff;border:1px solid #ccc;padding:4px;position:relative}._48b-{background:#F5F6F7 url(/rsrc.php/v3/yU/r/O7nelmd9XSI.png) repeat-x}._59_n{cursor:text;display:block;margin:-4px 0 -2px}._59_m ._58ah ._58ak{height:22px;margin:6px 2px 0}._59_m ._58al::-webkit-input-placeholder{color:#90949c}._59_m ._58ah ._58al{font-family:Helvetica, Arial, sans-serif;font-size:12px}._59_m ._59_o,._59_m ._5o8l{box-sizing:border-box;float:left;max-width:100%}._59_m ._59_o{padding-right:16px;position:relative}._59_m ._59_o._2lo5{padding-right:4px}._59_m ._5o8l ._59_o{float:none}._59_m ._3bm-{position:absolute;right:4px;top:9px}._59_m ._63yf{position:absolute;right:4px;top:7px}._59_o{background-color:#c4d2e7;border:1px solid #9cb4d8;border-radius:3px;color:#1d2129;display:block;font-size:12px;font-weight:normal;height:22px;line-height:1.358;margin:4px 4px 0 0;padding:1px 3px 1px 4px;white-space:nowrap}._5aab{display:inline-block;max-width:100%;overflow:hidden;text-overflow:ellipsis;vertical-align:middle}._1z6_{position:absolute;right:3px;top:5px}._u-l{display:block;height:22px;line-height:1.358;margin:4px 0 0}html ._59_m._1tp7{background:url(/rsrc.php/v3/y7/r/jZPS9cxhnaa.png) no-repeat right 8px center;border:1px solid #ce0d24}
._5yik{height:20px;margin-right:2px;vertical-align:middle;width:20px}._5yii{position:absolute;right:5px;top:8px}._5yij{background-color:#c4d2e7;border:1px solid #9cb4d8;border-radius:3px;box-sizing:border-box;color:#1d2129;display:inline-block;font-family:Helvetica, Arial, sans-serif;font-size:12px;font-weight:normal;margin:3px 3px 0 0;padding:4px 30px 4px 4px;position:relative;vertical-align:super;white-space:nowrap}
._4zzz ._5w5j{margin:12px;position:relative}._5w5j{max-height:2000px;overflow:hidden}._1qlh{padding-left:22px;width:354px}._wnu{color:#1d2129;margin-left:22px;margin-right:8px;width:354px}._4zzz ._10a_{font-size:12px;padding-left:12px}._4zzz ._1f69{margin-bottom:1px;margin-left:8px;margin-right:4px}._4so4{display:block;font-size:12px}._4so5{display:inline}._4so7>div{display:inline}._4zzz ._1f6b{padding-left:12px}._4zzz ._10b0{font-weight:bold}._4zzz._2377 ._1dsl{display:none}._2z4p{display:none;position:absolute;right:32px;top:14px}._2z4q{display:inline}._4zzz .uiFeedTargeter{font-size:12px}._4zzz .uiFeedTargeterRow{padding-left:7px;width:auto}._4zzz .uiFeedTargeterAddFilter{padding-left:10px}._4zzz .uiTokenizer.uiInlineTokenizer{font-size:12px;padding-left:10px}._1cm_{background-color:#f5f6f7;border-bottom:1px solid #dddfe2;border-left:1px solid #dddfe2;border-right:1px solid #dddfe2;height:284px;overflow:hidden;position:relative}._63ex{background-color:#f5f6f7;border-left:1px solid #dddfe2;border-right:1px solid #dddfe2;height:360px}._5w5j ._63ex ._5sf4{height:339px}._4l8u ._63ex ._5sf4{height:339px;margin:12px}._2cc2{background-color:#f5f6f7;height:360px;overflow-y:scroll;position:absolute;width:280px}._2e5d ._1_hc{border-bottom:0;height:286px}._1er8{padding-left:4px}._wdd ._3joz{background-color:rgba(0, 0, 0, .3);border:1px solid rgba(255, 255, 255, .3);border-radius:3px;color:#fff;font-size:12px;font-weight:bold;margin-right:12px;margin-top:12px;padding:4px 8px;position:absolute;right:0;text-shadow:0 1px 3px rgba(0, 0, 0, .7);top:0}._3joy>._54ng{background-color:rgba(0, 0, 0, .8)}._3joy>._54nf{padding:1px}._3jox>._54nc{background-color:transparent;border:none;color:#fff;font-weight:bold;padding:4px 8px;text-shadow:0 1px 3px rgba(0, 0, 0, .7)}._3joz:hover{background-color:rgba(0, 0, 0, .5);text-decoration:none}._3jox:hover>._54nc:hover{background-color:rgba(0, 0, 0, .5);text-decoration:none}._3aq0{background:lightgray;margin-right:8px}._4q0-,._4vnp,._53v5,._19jn,._4clk,._1_he{background-color:#f5f6f7;border-bottom:1px solid #dddfe2;border-left:1px solid #dddfe2;border-right:1px solid #dddfe2;height:284px;overflow:hidden;position:relative}._4q0-._6lli{height:425px}._6lld{width:460px}._4clk{overflow-y:scroll}._65w5{max-width:320px}._65w6{max-height:100px;overflow-y:scroll}._1_he,._19jn{height:auto;min-height:284px}._1_he{display:flex}._3hx7 ._4q0-{height:450px}._3hx7 ._3yq9{height:480px}._3hx7 ._1_hc{height:450px}._3hx7 ._3yq7{height:480px}._3hx7 ._5w5j ._5sf4{height:430px}._3hx7 ._5w5j ._4btb{height:480px}._3hx7 ._4vp0{height:338px}._3hx7 ._19jn ._1_hc{height:286px}._4vp0{background-color:#f5f6f7;border-bottom:1px solid #dddfe2;border-left:1px solid #dddfe2;border-right:1px solid #dddfe2;height:260px;overflow:hidden;position:relative}._19jn ._2kll{display:inline-block}._19jn ._29_0{align-items:center;display:flex;margin-bottom:8px}._2kln{background-color:#fa3e3e;border:1px solid #fa3e3e;border-radius:50%;bottom:2px;display:inline-block;height:4px;left:110%;position:relative;width:4px}._19jn ._q8z{display:flex;min-height:240px}._19jn ._5r7-{margin:12px;margin-bottom:9px;overflow:hidden}._19jn ._3iej{display:none}._19jn ._3lqa{display:none}._19jn ._5r94{height:140px;margin:12px;margin-bottom:9px;overflow:auto}._19jn ._5r7-._q9c{width:450px}._19jn ._5r94._65nj{flex-grow:1;height:240px}._19jn ._19jl{background-color:#fff;float:left;font-family:Helvetica, Arial, sans-serif;width:96px}._19jn ._19jk{border:none;margin-bottom:8px}._19jn ._4yj6{align-items:center;display:inline-flex}._19jn ._4yj7{align-items:center;display:inline-flex;margin-left:-16px}._19jn ._gq_{display:inline-block;height:22px;margin-left:8px}._19jn ._3oop{height:25px}._19jn ._5r95{align-items:center;background-color:#fff;display:flex;font-family:Helvetica, Arial, sans-serif;height:48px;justify-content:space-between;margin-bottom:2px}._19jn ._5r95 ._2f48{cursor:pointer;height:44px;margin:2px;position:relative;width:44px}._19jn ._5r95 ._41gm{background-color:rgba(0, 0, 0, .3);left:0;position:absolute;top:0;z-index:2}._19jn ._5r95 ._41gn{background-image:url(/rsrc.php/v3/yL/r/RWYACoofG9f.png);background-repeat:no-repeat;background-size:auto;background-position:-35px -147px;height:20px;margin:12px;width:20px}._19jn ._5r95 ._41go{background-color:#fff;border-radius:4px;height:16px;margin:14px;width:16px}._19jn ._5r95 ._5r96{border-radius:2px;height:44px;left:0;position:absolute;top:0;width:44px}._19jn ._5r95 ._4gs4{align-items:center;display:flex}._19jn ._5r95 ._5r97{font-weight:300;margin-left:12px}._19jn ._5r95 ._4gs3{margin-right:8px}._19jn ._5r95 ._9gb{background-color:#fff;border-radius:50%;border-width:1px;color:#bec3c9;font-size:12px;font-weight:lighter;height:18px;line-height:18px;margin-left:12px;padding:0;width:18px}._19jn ._5r95 ._9gb:hover{background-image:url(/rsrc.php/v3/y1/r/8T5SemZrNUU.png);background-repeat:no-repeat;background-size:auto;background-position:-211px -117px;border-color:#4267b2;font-size:0}._19jn ._3bbp{float:right}._19jn ._2j7l{display:flex;margin-top:4px}._19jn ._3bbq{opacity:.5;pointer-events:none}._4cll{padding:12px;padding-bottom:0;width:354px}._1_hg{padding:12px;width:354px}._1es5{padding:12px;width:280px}._4ouk{max-height:190px;overflow-y:scroll}._64mh{color:#4e5665;font-size:12px;font-weight:bold;line-height:16px;margin:16px 0 4px 0}._4edg{color:#4b4f56;font-size:12px;line-height:14px;margin:4px 0 16px 0}._53v6{padding:12px;width:280px}._4vnq{padding:12px}._4vp1{padding:12px}._4vp1 ._4vp2{color:#8d949e;font-size:12px;margin-bottom:8px}._4vp1 ._4vov{background-color:#fff;border-right-style:hidden;color:#4b4f56;font-size:12px;font-weight:normal;height:235px;text-align:left}._3hx7 ._4vp1 ._4vov{height:312px}._4vov ._4h2m{border-right-style:hidden}._4vov ._1mib ._4h2m{border-right-style:solid;font-weight:normal}._4pby ._1mie{border-bottom:0}._4vp1 ._4pbx{border-bottom:1px solid #e5e5e5;border-left:1px solid #e5e5e5;border-right:1px solid #e5e5e5;padding:51px;text-align:center}._3hx7 ._4vp1 ._4pbx{padding:90px}._4clm{position:absolute;right:0;top:0}._5f80 ._5w21{border:1px solid #dddfe2}._5f80 ._5w24{background:#fff;border-bottom:1px solid #dddfe2;font-size:12px}._5f80 ._58al{background:#fff}._5f80 ._4w3g ._58ak{background:#fff;border:1px solid #dddfe2}._5f81{padding-top:8px}._1er9{padding-top:4px}._64zm{color:#1d2129;font-size:12px;padding-left:5px}._1_hd{color:#4b4f56;margin-bottom:8px}._1_hb{background-color:#f5f6f7;border:1px solid #dddfe2}._5j6r{border-top:1px solid #dcdee3}._1_ha{margin-bottom:1px;position:relative;top:1px}._1_ha ._1_hb ._13xf{margin-top:2px;padding-top:4px}._1t9p{background-color:#e9ebee;height:285px;margin-left:300px;position:relative}._1_ha ._1t9p{margin-left:280px}._1_ha ._2d5h ._1t9p{margin-left:0}._vev{border-top:1px solid #dddfe2}._1_hc{position:absolute;width:280px}._3edu{margin-top:12px}._3edu ._1gip{float:right}._5w5j ._5e4h ._5e4k{background-color:#4080ff;border:0;border-left:solid 1px #4080ff;border-right:solid 1px #4080ff;padding-top:1px}._5w5j ._3ufe ._5e4k{transition:width 200ms}._5w5j ._5w5h ._5e4h{border-color:#dddfe2;margin:0}._5w5j ._5sf4{height:263px;margin:12px;margin-bottom:9px;overflow:auto}._5w5j ._4pac{border:1px solid #bdc7d8}._5w5j ._3xjx{background-color:#fff;display:block;font-family:Helvetica, Arial, sans-serif;width:100%}._5w5j ._3xjy{border:none;border-bottom:1px dashed #bdc7d8}._5w5j ._3xjy ._58al{font-size:14px;font-weight:bold}._5w5j ._1_hc ._3xjy ._58al{font-size:12px;font-weight:normal}._5w5j ._1_hc ._3xjy{background:#fff;border:1px solid #dddfe2}._52oj._3xjx{border:none;font-family:Helvetica, Arial, sans-serif;font-size:14px;margin:3px 0 15px 0}._5w5j ._3xjz{border:none;border-bottom:1px dashed #bdc7d8;font-size:12px;min-height:100px}._5w5j ._4pad{border:none}._5w5j ._4dlq{margin-top:8px}._5w5j ._1k20{margin-bottom:4px;margin-top:20px}._5w5j ._2t3n{margin-top:12px}._5w5j ._2t3r{margin-left:20px}._5w5j ._5m7z{line-height:12px;margin-top:12px}._5w5j ._5m7y{margin-bottom:4px}._5w5j ._59uq{list-style-type:square;margin-left:20px}._5w5j ._2t3p{color:#1d2129;font-size:12px}._5w5j .uiInputLabel .uiInputLabelLabel._2t3p{margin-left:22px}._5w5j ._2t3p._2t3q{opacity:.3}._3tl2{bottom:0;left:0;position:absolute;right:0;top:0}._4n8x{background:linear-gradient(rgba(0, 0, 0, .4), transparent);height:90px;left:0;position:absolute;right:0;top:0}._wdf,._wdi{display:block;height:100%;position:absolute;top:0;width:100px}._wdg,._wdj{bottom:0;position:absolute;top:0;width:48px}._wdf,._wdg{left:0}._wdi,._wdj{right:0}._wdh{background-image:url(/rsrc.php/v3/y1/r/8T5SemZrNUU.png);background-repeat:no-repeat;background-size:auto;background-position:-196px -49px;display:block;height:45px;opacity:.3;transition:all .3s cubic-bezier(.23, 1, .32, 1);width:27px}._wdf:hover ._wdh{opacity:1}._wdk{background-image:url(/rsrc.php/v3/y1/r/8T5SemZrNUU.png);background-repeat:no-repeat;background-size:auto;background-position:-224px -49px;display:block;height:45px;opacity:.3;transition:all .3s cubic-bezier(.23, 1, .32, 1);width:27px}._wdi:hover ._wdk{opacity:1}._wdl{bottom:0;color:#fff;left:0;margin-bottom:12px;margin-left:12px;position:absolute}._277n{bottom:0;left:auto;margin:0 12px 12px 0;right:0}._58n3{height:30px;margin-top:12px}._58n3 ._3ymm{float:right;height:26px;margin-right:12px;margin-top:0;position:static}._58mc,._58n0{display:inline-block;float:right;height:28px;width:28px}._58mc{margin-right:5px}._58n0{margin-right:16px}._58mp,._58n1{background-color:rgba(20, 22, 26, .3);border:1px solid rgba(255, 255, 255, .3);border-radius:3px;height:26px;top:0;width:26px}._58mp:hover,._58n1:hover{background-color:rgba(20, 22, 26, .7)}._58m_{background-image:url(/rsrc.php/v3/y1/r/8T5SemZrNUU.png);background-repeat:no-repeat;background-size:auto;background-position:-178px -118px;display:block;height:16px;transition:all .3s cubic-bezier(.23, 1, .32, 1);width:16px}._58mc:hover ._58m_{opacity:1}._58n2{background-image:url(/rsrc.php/v3/y1/r/8T5SemZrNUU.png);background-repeat:no-repeat;background-size:auto;background-position:-195px -118px;display:block;height:16px;transition:all .3s cubic-bezier(.23, 1, .32, 1);width:16px}._58n0:hover ._58n2{opacity:1}._58mb{color:#fff;float:right;font-size:14px;margin-right:12px;padding-top:5px;text-shadow:0 1px 3px rgba(0, 0, 0, .7)}._3ymm{display:inline-block;margin-right:12px;margin-top:12px;position:absolute;right:0;top:0;transition:all .3s cubic-bezier(.23, 1, .32, 1)}._uhl{background-color:rgba(20, 22, 26, .3);border:1px solid rgba(255, 255, 255, .3);border-radius:3px;color:#fff;display:table-cell;font-family:Helvetica, Arial, sans-serif;font-size:12px;font-weight:bold;height:26px;line-height:16px;padding:0 8px;text-shadow:0 1px 3px rgba(0, 0, 0, .7);vertical-align:middle;white-space:nowrap}._uhl:hover{background-color:rgba(20, 22, 26, .7);text-decoration:none}._44rr,._3jo-{display:inline-block;height:16px;margin-right:8px;vertical-align:text-bottom;width:16px}._44rr{background-image:url(/rsrc.php/v3/y1/r/8T5SemZrNUU.png);background-repeat:no-repeat;background-size:auto;background-position:-458px -95px}._3jo-{background-image:url(/rsrc.php/v3/y1/r/8T5SemZrNUU.png);background-repeat:no-repeat;background-size:auto;background-position:-259px -95px;height:20px;width:20px}._3yml{background:linear-gradient(transparent, rgba(20,22,26,.4));bottom:0;height:40px;left:0;position:absolute;right:0}._wde{background-color:#000}._2mpk{display:none}table._4vnn{font-size:12px;line-height:16px;table-layout:inherit}._4vnn ._3sts{color:#4b4f56;position:relative;top:5px}._4vnn .uiToken{display:inline-block;float:none;font-size:12px;margin:1px 6px 6px 1px;padding:6px 8px}._3di-{margin-bottom:10px;max-height:150px;overflow-y:auto;width:inherit}._3di-._5w5d{max-height:84px}._2oq6{display:none}._4x8f{color:#4b4f56;font-size:12px;margin-top:20px;word-break:break-word}._1cm-{color:#4b4f56;margin-left:8px;margin-right:8px;vertical-align:sub}._1j9{line-height:43px;margin-right:10px}._u_u{max-height:0;transition-duration:.5s}._3ee0{max-width:320px}._50lr{margin-bottom:1px;margin-left:3px;vertical-align:middle}._3iot{margin-bottom:10px}._3guc{margin-bottom:20px}._26uc{margin-right:10px;margin-top:4px}._2cg4{border:1px solid #dddfe2;padding-bottom:2px;padding-top:4px}._5w5j ._5m8o ._26uc{border:1px solid #dddfe2}._4_90{display:inline-block;margin-left:12px}._4_90 ._4_9a{color:#365899;margin-right:8px}._4_90 ._4_9a:hover{cursor:pointer}._5rm1{background:black;height:284px;opacity:1;position:absolute;top:0%;width:100%}._3d4u{background:#000;color:#fff;height:284px;opacity:1;position:relative;transition:all .5s;width:465px;z-index:1}._bfg{left:25%;position:absolute;top:50%}._bfe{height:284px;opacity:0;position:relative;transition:all .5s;width:465px}._489l{align-items:center;background-color:#fff;border-top:1px solid #dddfe2;color:#7f7f7f;cursor:pointer;display:flex;font-size:12px;font-weight:bold;height:36px;padding:0 8px;width:100%}._636m{flex-grow:1;margin-right:16px;text-align:right}._438h{background-color:#fff;border-top:1px solid #dddfe2;box-sizing:border-box;color:#4c4c4c;font-size:12px;padding:20px 80px;width:100%}._489q{display:none}._4wxq{display:table;margin-top:10px;width:100%}._4wxq ._4wvp{box-sizing:border-box;color:#7f7f7f;font-weight:bold;line-height:14px;padding:4px 20px 0 0;text-align:right;vertical-align:top;width:135px;word-wrap:break-word}._4wvw{padding-top:2px}._4wxq ._4wvp,._4wxq ._4wvw{display:table-cell}._4wvq{display:flex;justify-content:flex-end}._4wzp{display:flex}._4wzu{margin-right:56px}._44x5{box-shadow:0 1px 30px rgba(0, 0, 0, .1);height:calc(463 * .6 / 541 * 605px);margin-left:20%;margin-top:5%;width:60%}._44x6{background-color:#e9ebee;border-left:1px solid #dddfe2;height:360px;margin-left:280px;position:relative;width:463px}._1mu1{bottom:73px;cursor:pointer;left:80px;position:absolute;width:25px}._17ks{padding-left:100px;padding-top:30px}._4btg{border:0;display:inline-block;margin-top:12px;position:relative;width:100%}._4bth{border-radius:2px;box-sizing:border-box;min-height:35px;outline:none;padding:8px 4px;padding-left:44px;resize:none;width:100%}._4bti{height:32px;left:8px;position:absolute;top:8px;width:32px}._4cll ._64ut{max-width:320px}._63ex ._kmg{font-weight:bold;margin:16px 0 4px 0}._63ex ._3gbg{min-height:26px;width:280px}
._9_1{color:#4b4f56;font-size:12px;margin-bottom:10px;margin-top:10px}
._5yk1{background:#fff;border:1px solid #bdc7d8;box-sizing:border-box;cursor:text;font-family:Helvetica, Arial, sans-serif;font-size:11px;padding:3px}._5yk1 ._1p1u{color:#bec3c9}
._58zy{background:#e9ebee;border:1px solid #9cb4d8;border-radius:2px;color:#162643;cursor:default;float:left;height:1.3em;margin:0 2px 2px 0;padding:0 18px 0 3px;position:relative;white-space:nowrap}._12l9{padding-right:3px}._58zx{display:inline-block;margin:0;position:absolute;right:2px;top:3px}._58zy span{display:inline-block;max-width:401px;overflow:hidden;text-overflow:ellipsis}
._1lty,._1lty ._4f7k,._1lty ._4f7k div[tabindex],._1lty ._4f7k span[tabindex],._1lty ._4f7k img[tabindex],._1lty ._4f7k a[href],._1lty ._4f7k button,._1lty ._4f7k input,._1lty ._4f7k select,._1lty ._4f7k textarea{box-shadow:none;outline:none}

._jsc._jsb{padding-left:15px}._jsb ._jsa{background-image:url(/rsrc.php/v3/yP/r/9f6vRJshqy4.png);background-repeat:no-repeat;background-size:auto;background-position:-51px -1252px;height:10px;left:3px;position:absolute;top:3px;width:10px}
._4etw{white-space:pre-wrap}._1tcr{margin:0}._4a6u{display:none !important}
._3gl1{background-position:center;background-repeat:no-repeat;caret-color:#000;display:inline-block;margin:0 1px;text-align:center;vertical-align:middle}._1mjk ._3gl1{caret-color:#fff}._ncl{color:transparent;display:inline-block;transform:translateY(-3px);z-index:-1}
._5zk7{background-color:rgba(88, 144, 255, .15);border-bottom:1px solid rgba(88, 144, 255, .3)}
._2ou{color:#365899;cursor:pointer;text-decoration:underline}
._247o{background-color:#dce6f8}
._whq{background-color:#eee;color:#666}
._5rp7,._5rpb,._5rpu{height:inherit;text-align:initial}._5rpu[contenteditable="true"]{-webkit-user-modify:read-write-plaintext-only}._5rp7{position:relative}._5rpb{background-color:rgba(255, 255, 255, 0);border-left:.1px solid transparent;position:relative;z-index:1}._45m_{position:relative}._5rp8 ._1mf{text-align:left}._5rp8 ._1p1t{left:0;text-align:left}._5rpa ._1mf{text-align:center}._5rpa ._1p1t{margin:0 auto;text-align:center;width:100%}._5rp9 ._1mf{text-align:right}._5rp9 ._1p1t{right:0;text-align:right}
._1mf{position:relative;white-space:pre-wrap}._1mj{direction:ltr;text-align:left}._1mk{direction:rtl;text-align:right}._3kq6{direction:ltr}._3kq7{direction:rtl}._1bv0,._1bv1{margin:16px 0;padding:0}._3kq1._3kq6{margin-left:1.5em}._3kq1._3kq7{margin-right:1.5em}._3kq2._3kq6{margin-left:3em}._3kq2._3kq7{margin-right:3em}._3kq3._3kq6{margin-left:4.5em}._3kq3._3kq7{margin-right:4.5em}._3kq4._3kq6{margin-left:6em}._3kq4._3kq7{margin-right:6em}._3kq5._3kq6{margin-left:7.5em}._3kq5._3kq7{margin-right:7.5em}._3kpz{list-style-type:square;position:relative}._3kpz._3kq1{list-style-type:disc}._3kpz._3kq2{list-style-type:circle}._3kp_{list-style-type:none;position:relative}._3kp_._3kq6:before{left:-36px;position:absolute;text-align:right;width:30px}._3kp_._3kq7:before{position:absolute;right:-36px;text-align:left;width:30px}._3kp_:before{content:counter(ol0) ". ";counter-increment:ol0}._3kp_._3kq2:before{content:counter(ol1,lower-alpha) ". ";counter-increment:ol1}._3kp_._3kq3:before{content:counter(ol2,lower-roman) ". ";counter-increment:ol2}._3kp_._3kq4:before{content:counter(ol3) ". ";counter-increment:ol3}._3kp_._3kq5:before{content:counter(ol4,lower-alpha) ". ";counter-increment:ol4}._3kq1._3kq0{counter-reset:ol0}._3kq2._3kq0{counter-reset:ol1}._3kq3._3kq0{counter-reset:ol2}._3kq4._3kq0{counter-reset:ol3}._3kq5._3kq0{counter-reset:ol4}
@font-face{font-family:'IAGlyphs';src:url(/rsrc.php/yt/r/AlyZEP7aUV2.eot) format('embedded-opentype'), url(/rsrc.php/yx/r/nwONwzmBRIP.ttf) format('truetype'), url(/rsrc.php/yV/r/_UzvUhD80O-.svg) format('svg')}._b5a{align-content:flex-start;align-items:stretch;-webkit-appearance:none;background-color:transparent;border:0;box-sizing:border-box;display:flex;flex-direction:column;flex-shrink:0;margin:0;min-width:0;padding:0;position:relative}._b5b{display:block}._b5c{display:inline}
._58-1{float:left}._58-0{float:left;max-width:100%}._58-0 input._58al{border-left:.1px solid transparent}._58-2 ._58ak{border:none;cursor:text;margin:0 2px 2px 0;max-width:100%;overflow:hidden}._58-2 ._58al{border:none;display:inline-block;margin:0;vertical-align:middle}._58-3,._58-2 ._58al{font-family:'lucida grande', tahoma, verdana, arial, sans-serif;font-size:100%}._58-3{left:0;min-width:3em;padding-right:2em;position:absolute;top:0;visibility:hidden;white-space:nowrap}._4tb6{cursor:text;float:left;vertical-align:middle;width:4px}
._2bhc._2bhc{margin-left:8px}
.sp_fKqCMuma6D9{background-image:url(/rsrc.php/v3/yQ/r/TWZkQjjRK98.png);background-size:auto;background-repeat:no-repeat;display:inline-block;height:20px;width:30px}.sp_fKqCMuma6D9.sx_0cd559{width:12px;height:12px;background-position:-17px -358px}.sp_fKqCMuma6D9.sx_a01c2b{width:16px;height:16px;background-position:0 -358px}.sp_fKqCMuma6D9.sx_cee2d6{width:20px;background-position:0 -211px}.sp_fKqCMuma6D9.sx_a62c6b{width:16px;height:16px;background-position:0 -375px}.sp_fKqCMuma6D9.sx_9b71d0{width:16px;height:16px;background-position:0 -392px}.sp_fKqCMuma6D9.sx_0b3d1a{width:16px;height:16px;background-position:0 -409px}.sp_fKqCMuma6D9.sx_9d481b{width:16px;height:16px;background-position:0 -426px}.sp_fKqCMuma6D9.sx_6a20b9{width:12px;height:12px;background-position:-17px -371px}.sp_fKqCMuma6D9.sx_e28451{width:16px;height:16px;background-position:0 -443px}.sp_fKqCMuma6D9.sx_883472{width:20px;background-position:0 -232px}.sp_fKqCMuma6D9.sx_21801a{width:20px;background-position:0 -253px}.sp_fKqCMuma6D9.sx_8adeed{width:20px;background-position:0 -274px}.sp_fKqCMuma6D9.sx_1e576a{width:20px;background-position:0 -295px}.sp_fKqCMuma6D9.sx_bae27d{width:20px;background-position:0 -316px}.sp_fKqCMuma6D9.sx_b9e9cc{width:20px;background-position:0 -337px}.sp_fKqCMuma6D9.sx_61a45a{width:16px;height:16px;background-position:0 -460px}.sp_fKqCMuma6D9.sx_a5cfd2{width:16px;height:9px;background-position:0 -494px}.sp_fKqCMuma6D9.sx_5f5093{width:16px;height:16px;background-position:0 -477px}.sp_fKqCMuma6D9.sx_345755{background-position:0 0}.sp_fKqCMuma6D9.sx_1d03a9{background-position:0 -21px}.sp_fKqCMuma6D9.sx_cc17c4{background-position:0 -42px}.sp_fKqCMuma6D9.sx_a6b94a{background-position:0 -63px}.sp_fKqCMuma6D9.sx_0d24e1{background-position:0 -84px}.sp_fKqCMuma6D9.sx_c4ca5b{background-position:0 -105px}.sp_fKqCMuma6D9.sx_9d332a{background-position:0 -126px}.sp_fKqCMuma6D9.sx_d1b528{background-position:0 -147px}.sp_fKqCMuma6D9.sx_b5f756{background-position:0 -168px}.sp_fKqCMuma6D9.sx_fc4550{width:26px;height:21px;background-position:0 -189px}

#bootloader_919h0{height:42px;}.bootloader_919h0{display:block!important;}