._26xy{bottom:0;color:#fff;left:-112px;padding:4px;position:absolute;text-shadow:0 0 2px rgba(0, 0, 0, .3)}._26xy ._26yl{font-size:16px;-webkit-font-smoothing:antialiased;font-weight:700;line-height:20px;overflow:hidden;padding-bottom:4px;text-overflow:ellipsis;white-space:nowrap;width:300px}._26xy ._26yl a{color:#fff}._26xy ._26ym{font-size:12px;line-height:16px;width:350px}._26xy ._26ym a{color:#fff}._5zgi{padding:4px 0 0 0;width:350px;word-wrap:break-word}
.HovercardSimple .stage{min-width:0}div.MediaTagHovercardStage{min-width:0}div.fbPhotoTagVisualCuesAction{margin-left:2px}div.fbPhotoTagVisualCuesAction .fbPhotoTagHovercardAttribution{margin-left:3px}
._4o-e a{z-index:1}._4o-d,._4o-e a{position:relative;word-break:break-word}._2p4n{color:#4b4f56}._4o-g:hover{background-color:#f5f6f7;text-decoration:none}html ._4o-d ._4o-f{bottom:0;cursor:pointer;left:0;position:absolute;right:0;top:0;z-index:0}
._19hh{margin-left:2px;padding-top:8px}
.sp_06P1T9htSLk{background-image:url(/rsrc.php/v3/ya/r/p_pPqiS9AZt.png);background-size:auto;background-repeat:no-repeat;display:inline-block;height:16px;width:16px}.sp_06P1T9htSLk.sx_8aadbd{background-position:0 0}.sp_06P1T9htSLk.sx_17ddc5{background-position:0 -17px}.sp_06P1T9htSLk.sx_fca1b1{background-position:0 -34px}.sp_06P1T9htSLk.sx_9f074a{background-position:0 -51px}.sp_06P1T9htSLk.sx_61ac24{width:12px;height:12px;background-position:0 -78px}.sp_06P1T9htSLk.sx_467bc9{width:12px;height:12px;background-position:0 -91px}.sp_06P1T9htSLk.sx_d4baaf{height:9px;background-position:0 -68px}
.sp_5ygRF8bwii6{background-image:url(/rsrc.php/v3/yp/r/nWTM_jvdKp1.png);background-size:auto;background-repeat:no-repeat;display:inline-block;height:16px;width:16px}.sp_5ygRF8bwii6.sx_8a8a81{width:72px;height:72px;background-position:0 0}.sp_5ygRF8bwii6.sx_8c0a39{background-position:0 -73px}.sp_5ygRF8bwii6.sx_3afe19{background-position:-17px -73px}.sp_5ygRF8bwii6.sx_78f6b2{background-position:-34px -73px}.sp_5ygRF8bwii6.sx_86b2a2{background-position:-51px -73px}.sp_5ygRF8bwii6.sx_7ff4ef{background-position:0 -90px}.sp_5ygRF8bwii6.sx_1f4894{background-position:-17px -90px}

#bootloader_9PGYG{height:42px;}.bootloader_9PGYG{display:block!important;}