._222f{float:left;padding-top:3px}
._4p23{position:relative}
html ._5v3q>._3yll{animation-duration:.2s;animation-name:savedForLaterFollowupAnimation;background-color:#f5f6f7;border-bottom:1px solid #dddfe2;margin:0;overflow:hidden;padding:0 10px 0 8px}@keyframes savedForLaterFollowupAnimation{from{max-height:0;padding-bottom:0;padding-top:0}to{max-height:50px}}html ._499_{color:#4b4f56;font-weight:bold;padding-bottom:12px;padding-top:12px}html ._49a0{display:inline-block;line-height:16px;margin-right:4px;margin-top:-2px;vertical-align:middle}html ._61_h{margin:0}._76np{font-size:12px;width:250px}._76nq{font-size:13px;font-weight:bold;line-height:16px;padding-top:4px}._76nr{align-items:center;color:#606770;display:flex;padding-bottom:2px}._54ne ._76nr{color:#fff}._76ns{border-radius:50%;display:inline-block;height:20px;margin-right:5px;vertical-align:middle;width:20px}._76nt{background-color:#4267b2;border-radius:50%;display:inline-block;height:20px;margin-right:8px;text-align:center;vertical-align:middle;width:20px}._76nu{bottom:2px;color:#fff;font-size:10px;font-weight:600;position:relative}
._75d7{display:inline-block;overflow:hidden;vertical-align:top}._75d8{color:inherit !important;cursor:pointer}._75d8:hover{text-decoration:underline}

#bootloader_5nO1g{height:42px;}.bootloader_5nO1g{display:block!important;}