.__ck{color:#4b4f56;font-size:16px;font-weight:normal;margin-bottom:12px;padding-left:12px}.__ck strong{font-weight:bold}._5058{margin-bottom:10px;padding:16px 12px 10px}._5-7z{text-align:center}._5-7-{color:#1d2129;font-size:14px;margin-bottom:2px}._4z03{color:#90949c;font-size:12px;margin-bottom:12px}._5058 ._5059{margin-bottom:6px;margin-top:2px}._5058 ._3tb7{margin-right:-2px;text-align:right}

.profileInfoSection{margin-bottom:30px}.profileInfoSection .emptyInfoSection{text-align:center;font-size:13px}.profileInfoSection .inlineLabel{color:#999}.profileInfoSection .privacyTooltip{padding-top:4px}.profileInfoTable .activateLink{padding-left:8px}
._4u6u>span{display:inline-block;position:relative}._4u6u>span:before,._4u6u>span:after{background:#ccd0d5;content:"";height:1px;position:absolute;top:50%;width:100px}._4u6u>span:before{margin-right:15px;right:100%}._4u6u>span:after{left:100%;margin-left:15px}._4u6v{color:#4b4f56;font-size:14px;font-weight:normal}._4iri{margin-bottom:-30px}._4u6w{margin-bottom:10px}._4u6x{margin-bottom:5px;margin-top:5px}._4irj{margin-bottom:5px;margin-top:5px}._4u6y{height:36px;width:248px}._4irk{height:36px;width:248px}._4irl{height:28px;width:216px}._4irm{height:28px;width:216px}._4irn{margin-bottom:10px;margin-top:-25px}._4u6z{margin-bottom:30px;margin-top:10px}._4u6-{margin-top:5px}._4irp{margin-bottom:5px;margin-top:5px}._4u6_{height:36px;width:164px}._4irq{height:36px;width:164px}._4irr{height:28px;width:148px}._4isa{height:28px;width:148px}._4u70{text-align:center}._4isb{overflow:hidden;text-align:center;text-overflow:ellipsis;white-space:nowrap;width:auto}
.profile-picture{background-color:#fff;display:block;overflow:hidden;position:relative;width:180px}.profile-picture:hover{text-decoration:none}.profile-picture:hover .edit_profilepicture{display:block}.profile-picture img{display:block;margin:auto;max-width:180px}.profile-picture span{background-color:#000;height:800px;position:absolute;top:0;right:0;width:1px;opacity:.3}.edit_profilepicture{background:#000;color:#fff;display:none;opacity:.7;padding:6px 7px 6px 23px;position:absolute;right:1px;top:0}.edit_profilepicture:hover{opacity:.95}.profile-friends .profileFriendsText{overflow:hidden;text-overflow:ellipsis;width:102px;word-wrap:normal;white-space:nowrap}.profile-friends .profileFriendsByline{width:172px}.profileFriendsByline{white-space:nowrap}.profileFriendsNetwork{white-space:nowrap}.profile-friends li{margin-bottom:7px}div.profile-pagelet-section{margin-bottom:24px}.fbx .profileInfoTable th.label{padding-right:8px;width:81px}
.mediaRow .mediaPortrait{line-height:14px;padding:0;overflow:hidden;width:75px}.mediaRow .mediaPortrait .photo{height:75px;margin-bottom:5px}.mediaRow .mediaPortrait .mediaPageName{overflow:hidden;max-height:28px;word-wrap:break-word}.mediaRowWrapper{text-align:center}.mediaRowRevealer{line-height:12px}
.mediaRow .profilePicContainer{height:100px;position:relative}.mediaRow .likeButtonContainer{left:-50px;position:absolute;text-align:center;top:41%;width:200px}.mediaRow .blackBackground{background-color:#333;height:100px;left:0;position:absolute;text-align:center;top:0;width:100px}.mediaRow .profilePicContainer .photo{height:100px;position:absolute}.mediaRow .profilePicContainer:hover .photo{opacity:.6}.mediaRow .profilePicContainer .likeButtonContainer{display:none}.mediaRow .profilePicContainer:hover .likeButtonContainer{display:block}
._5e7- th.label{color:#999;font-weight:bold;line-height:15px;text-align:left;vertical-align:top;width:90px;word-wrap:break-word}._5e7- td.data{line-height:15px;width:100%}._5e7- td.rightCol{padding:3px 0 0 35px;text-align:right;width:50px}._5e7- .fbProfileExperience .experienceTitle{font-weight:normal}._5e7- .sampleImageCaption{text-align:center;width:50px;word-wrap:break-word}._5e7- .uiInfoTable .label{color:#666;font-size:11px;font-weight:normal;padding-top:0}._5jsb:hover{background:#f5f6f7}._5pty ._5jsb:hover{background:inherit}._5e7- .uiInfoTable .data{padding-top:0}._5e7- .throbber{display:none}._5e7- .async_saving .throbber{display:block}table._5e7-{margin:0 10px 5px;width:379px}._5e7- ._480u{line-height:15px;padding-top:4px}._5e7- th._3sts{color:#999;font-weight:normal;line-height:15px;text-align:left;vertical-align:top;width:79px;word-wrap:break-word}
._2ge8:hover ._21qn{opacity:1}._u3r ._2ge8 ._21qn{visibility:hidden}
._5f6p{position:relative}.editingExperience ._2tdc{display:none}._5f6p:hover ._5f6q,._5f6q._izc{opacity:1}._5f6q{opacity:0;position:absolute;right:0;top:8px}._4lob{position:relative;top:1px}._3m4o ._5f6q{padding-right:24px}._3m4o+._5f6p{border:none}
._3xdi{color:#90949c;margin-right:18px;width:180px}._pt5{width:360px}.timelineLayoutLoggedOut ._pt5{width:auto}
._43c8{padding:16px 0 20px}._43c8 ._53d9{margin:-17px -24px -21px}
._h71{border-bottom:1px solid #dddfe2;line-height:26px}._h72{color:#90949c;text-transform:uppercase}
._173e .fcg{color:#4b4f56}._2lzr{max-width:412px}

._3l7z{font-weight:bold}
._4qm1{padding-bottom:30px}html ._4qm1 .fbProfileEditExperiences{padding:0}html ._4qm1 .experience{max-width:none}html ._4qm1 .fbProfileEditExperiences .editingExperience{margin:0}html ._4qm1 .fbProfileEditExperiences .editingExperience:last-child{padding-bottom:20px}._4vr_ ._4vs0,._4vs1 ._4vs2{display:none}._3ms7 ._3ms8{display:none}._4vs2:first-child+li{margin-top:-1px}._4qm1 ._3m4o{position:relative;top:-1px}
._26ni{display:block;margin:256px auto;width:32px}
._3t3{background:#f5f6f7;border-radius:0 0 2px 2px;border-top:1px solid #d3d6db;display:block;margin:0 -14px 0 -15px;padding:15px 0;text-align:center}#pagelet_timeline_medley_archive ._3t3{margin:0 -2px -15px}._3t3:hover{background:#f5f6f7}.async_saving ._3t5{display:none}
._3stn{border:0;border-collapse:collapse;border-spacing:0;table-layout:fixed;width:100%}._3sto td{padding:5px 0}._3stp ._3sto td{padding:0;visibility:hidden}._480u,._480v,._3sts{padding:3px 0 1px 0;text-align:left;vertical-align:top}._3stt ._480u,._3stt ._480v{padding-top:5px}._480u>input,._480u>label input,._480v>input,._480v>label input{margin-left:0}._3stt ._3sts{padding-top:8px}._3sts ._3stu{color:#999}._480v{padding:0 0 0 20px;width:225px}._3stn ._4edr ._3sts{width:70px}._3stn ._3ea7 ._3sts{width:210px}._3stn ._6hhu ._3sts{width:40%}._3sts{color:#666;font-weight:bold;padding-right:10px;text-align:right;width:130px;word-wrap:break-word}._5m_c{color:#999;font-weight:bold;word-wrap:break-word}
.uiLoadingIndicatorAsync.uiLoadingIndicatorAsync{display:none}.async_saving .uiLoadingIndicatorAsync{display:inline}
.uiComboInput{border:1px solid #bdc7d8;display:inline-block;zoom:1}.uiComboInput .inputtext,.uiComboInput .uiTypeahead,.uiComboInput .uiTypeahead .wrap{border:transparent}.uiComboInput .uiTypeahead{display:inline-block;vertical-align:top;zoom:1}.uiComboInput .comboButton{margin:-1px;position:relative;z-index:2;zoom:1}
.uiProfileBlockContent{overflow:hidden}
._5ss7{position:relative}._5ss8{margin-bottom:40px;max-width:100%;position:absolute}

#bootloader_318_y{height:42px;}.bootloader_318_y{display:block!important;}