<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
  <div class="container">
    <a class="navbar-brand" href="#">Luke Morrison - Software Engineer</a><p>Website: English/German/French</p>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home
                <span class="sr-only">(current)</span>
              </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Who</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">What</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Why</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Where</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">How</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<header>
  <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleIndicators" data-slideim-to="0" class="active"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
      <!-- Slide One - Set the background image for this slide in the line below -->

      <div class="carousel-item active" style="background-image: url('assets/media/pics/3b48ea0f.jpg')">
        <div class="carousel-caption d-none d-md-block">
          <h2 class="display-4 text-primary">Hello World.</h2>
          <p class="lead">This is a description for the first slide.</p>
        </div>
      </div>
      <!-- Slide Two - Set the background image for this slide in the line below -->
      <div class="carousel-item" style="background-image: url('assets/media/pics/64b88398.jpg')">
        <div class="carousel-caption d-none d-md-block">
          <h2 class="display-4 text-primary">Freelancer</h2>
          <p class="lead">This is a description for the second slide.</p>
        </div>
      </div>
      <!-- Slide Three - Set the background image for this slide in the line below -->
      <div class="carousel-item" style="background-image: url('assets/pics/media/64b88398.jpg')">
        <div class="carousel-caption d-none d-md-block">
          <h2 class="display-4 text-primary">Remote Software</h2>
          <p class="lead">This is a description for the third slide.</p>
        </div>
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
  </div>
</header>

<!-- Page Content -->
<section class="py-5">
  <div class="container">
    <h1 class="display-4">Who - Hi, I'm Luke</h1>
    <p class="lead">and this is my website as a Freelancer to demonstrate my work, stay relevant and act as a portal to corporate engagement. I like to refer to myself as a "Polygot" because I am a jack of all trades, and a master at Python Data Science functional programming. My favorite framework is reactjs for frontend, django for backend and my favorite language is Java. Lambda functional Programming, long runs, and cold showers excite me. I am not a morning person but I try and I like more 2-4x coffee then the average person.</p>
  </div>
</section>
<!-- Page Content -->
<section class="py-5">
  <div class="container">
    <h1 class="display-4">What - Remote Freelancer Software Engineer</h1>
    <p class="lead">What I can help with, is software development, in Python, C, C++, Java and Javascript. I can also help in Go and nodejs. I have worked with reactjs, angularjs2+ and vue frameworks. I have also worked with nodejs and lambda, express, and s3/kinesis bucket and cloud based functional/microservice programming concepts. <br>
      My goal is to get clear requirements and deliver on them, and iterate. I worked as a Program Manager for 3 years at Microsoft so the way I understand requirements always has unified structure and as a trained and experienced Software Engineer, I implement. <br>
      I can help you build your MVP, or I can be a remote employee in your company. At this time, I am learning German so as long as I can work from my coworking space during the day, I am happy to push to your repo tonight, daily. Let's take a tour of some of my previous projects here.<a href="https://unsplash.com">Unsplash</a>, taken by <a href="https://unsplash.com/@joannakosinska">Joanna Kosinska</a>!</p>
  </div>
</section>
<section class="py-5">
  <div class="container">
    <h1 class="display-4">Why - Real World Problems</h1>
    <p class="lead">Businesses are having problems finding good Software Engineers and my job is to enable them to solve real world problems. Having people use my Software is a great reward and is the reason for me getting up in the morning.  <a href="https://unsplash.com">Carleton App Group</a> describes my mission fairly well <a href="https://unsplash.com/@joannakosinska">Joanna Kosinska</a>!</p>
  </div>
</section>
<!-- Page Content -->
<section class="py-5">
  <div class="container">
    <h1 class="display-4">Where - Remote-Germany, Canada, USA</h1>
    <p class="lead">I am a citizen of Canada and have full working rights in Germany, as a freelancer and employee. I have previously been sponsored as a J1 worker in USA for Microsoft and have nothing but good experiences working in Canada, Germany and USA. I speak English, German and French and am comfortable performing in either of those languages <a href="https://unsplash.com">Unsplash</a>, taken by <a href="https://unsplash.com/@joannakosinska">Joanna Kosinska</a>!</p>
  </div>
</section>
<!-- Page Content -->
<section class="py-5">
  <div class="container">
    <h1 class="display-4">How - Schedule a meeting</h1>
    <p class="lead">If you are interested in having me potentially work for you  <a href="https://unsplash.com">Unsplash</a>, taken by <a href="https://unsplash.com/@joannakosinska">Joanna Kosinska</a>!</p>
  </div>
</section>

<script src="./dist/bundle.js"></script>
